NODE_ENV=
PORT=3001

# Compose
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Base de données
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

ADMIN_EMAIL=
ADMIN_PASSWORD=

# JWT
JWT_ACCESS_SECRET=(openssl rand -base64 48)
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=(openssl rand -base64 48)
JWT_REFRESH_EXPIRATION=7d